body {
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
}


.click-copy,
.click-paste {
    padding: 1em;
    font-size: 1em;
    background: #741D93;
    border: none;
    color: white;
}


textarea {
    display: block;
    width: 86vw;
    height: 100px;
    margin: 1.5em auto;
}